.nav{
    background-color: purple;
}
.bg{
    background-image: url("../Pics/takequiz.jpg");
    height: 570px;
    width: 100%;
}

.quiz1{
    background-image: url("../Pics/q1.png");
    margin-top: 10px;
    margin-left: 110px;
    width: 1150px;
    height: 470px;
}

.button1{
    width: 120px;
    border-style: none;
    border-radius: 10px;
    margin-left: 50px;
}

.button2{
    width: 120px;
    border-style: none;
    border-radius: 10px;
    margin-left: 300px;
}

.btnmargin{
    margin-left: 50px;
}

.signout{
    margin-left: 1000px;
    color: white;
    text-decoration: none;
}

@media only screen and (max-width:1170px) {
    .quiz1{
        background-image: url("../Pics/q1.png");
        margin-top: 10px;
        margin-left: 110px;
        width: 1000px;
        height: 470px;
    }
}

@media only screen and (max-width:1140px) {
    .quiz1{
        background-image: url("../Pics/q1.png");
        margin-top: 10px;
        margin-left: 110px;
        width: 800px;
        height: 470px;
    }
}

@media only screen and (max-width:980px) {
    .quiz1{
        background-image: url("../Pics/q1.png");
        margin-top: 10px;
        margin-left: 110px;
        width: 1000px;
        height: 430px;
    }
}

@media only screen and (max-width:980px) {
    .signout{
        margin-left: 5px;
        color: white;
        text-decoration: none;
    }
}

@media only screen and (max-width:980px) {
    .signout{
        color: white;
        text-decoration: none;
    }
}



@media only screen and (max-width:480px) {
    .quiz1{
        background-image: url("../Pics/q1.png");
        margin-top: 10px;
        margin-left: 110px;
        width: 1000px;
        height: 400px;
    }

    .signout{
        color: white;
        text-decoration: none;
    }
}