.nav{
    background-color: purple;
}
.bg{
    background-image: url("../Pics/wwbm1.jpg");
    height: 570px;
    width: 100%;
}

.quiz1{
    margin-top: 10px;
    margin-left: 110px;
    width: 1150px;
    height: 470px;
    background-color: aqua;
}

.button1{
    width: 120px;
    background-color: aqua;
    border-style: none;
}
.button2{
    width: 120px;
    border-style: none;
    border-radius: 10px;
}