.nav{
    background-color: purple;
}
.button{
    height: 50px;
    width: 220px;
    background-color: blue;
    border-radius: 10px;
}
.button:hover{
    background-color: blueviolet;
}

.qz{
    width: 600px;
    height: 500px;
    background-color: linear-gradient( to bottom right red,green);
}
.qzb{
    /* background-image: url(../Pics/takequiz.jpg); */
    
    height: 600px;
    width: 100%;
}