.nav{
    background-color: purple;
}

.icon1{
    height: 50px;
    width: 50px;
    margin-left: 30px;
}

.bg1{
    height: 680px;
    background-image: url("../Pics/question-mark-5701302_1920.jpg");
}

.bg{
    background-color: whitesmoke;
}

.user{
    padding-left:250px;
    display: flex;
}


.color{
    color: white;
}


.signin{
margin-left: 800px;
}

.login{
    border-style: none;
    background-color: silver;
    color: black;
}

.signup{
    background-color: silver;
    color: black;
}

@media only screen and (max-width: 745px){ 
    .user{
        flex-direction: column;
        padding-left: 20px;
    }
    
    
    .login{
        border-style: none;
        background-color: silver;
        color: black;
    }
}