.nav{
    background-color: purple;
}

.icon1{
    height: 50px;
    width: 50px;
    margin-left: 30px;
}

.bg{
    background-color: whitesmoke;
    /* height: 400px; */
}

@media only screen and (max-width: 745px){ 
    .user{
        display:flex ;
        flex-direction: column;
        padding-left: 400px;
    }  
}
.user{
    padding-left:400px;
}


.color{
    color: white;
}


.signin{
margin-left: 800px;
}

.login{
    border-style: none;
    background-color: white;
    color: blue;
    
}
.login1{
    
}